<main class="main__content_wrapper mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-12 pt-5"><b style="font-size: 32px;">Thank you For Your order</b> </div>
                <img src="https://images.squarespace-cdn.com/content/v1/6209fc508f791e729abec7d0/18641903-a848-4a3a-a0a3-c9e2ddaa15c4/02-lottie-tick-01-instant-2.gif">
                <h3>Order Placed Successfully</h3>
                <p>Order ID : {{GetOrderNo()}}</p>
                
                <button class="btn btn-danger"><a (click)="orderClick()">View Orders</a></button>
            </div>
        </div>
    </div>
 </main>